{% set STANDARD = chip.isStandard %}
<div id="chipDetailsTitle" class="card-header">
	<h4>{{chip.type}}
		({{chip.id}})</h4>
</div>
<div id="chipDetailsContent" class="card-body">
	<form>
		<div class="row">
			<label>Name</label>
			<input data-type="name" class="form-control" type="text" value="{{ chip.name }}">
		</div>
		<div class="row">
			<label>Type</label>
			<select data-type="type" class="form-control">
				<optgroup label="Standard">
					{% for type in types.standard %}
						<option value="{{type}}" {{ chip.type == type ? "selected" : ""}}>{{type|upper}}</option>
					{% endfor %}
				</optgroup>
				<optgroup label="Custom">
					{% for type in types.custom %}
						<option value="{{type}}" {{ chip.type == type ? "selected" : ""}}>{{type}}</option>
					{% endfor %}
				</optgroup>
			</select>
		</div>
		<div class="row">
			<label>Size</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">X</span>
				</div>
				<input data-type="size" data-index="x" class="form-control" type="number" value="{{ chip.size.x }}" {{STANDARD ? 'disabled' : ''}}>
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Y</span>
				</div>
				<input data-type="size" data-index="y" class="form-control" type="number" value="{{ chip.size.y }}" {{STANDARD ? 'disabled' : ''}}>
			</div>
		</div>
		<div class="row">
			<label>Constants</label>
			{% for key,value in chip.constants %}
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">{{key}}</span>
					</div>
					<input data-type="constant" data-index="{{key}}" class="form-control" type="text" value="{{ value }}">
				</div>
			{% else %}
				<input class="form-control" type="text" value="N/A" disabled>
			{% endfor %}
		</div>
		<div class="row">
			<label>Inputs</label>
			{% for input in chip.inputs %}
				<input data-type="input" data-index="{{loop.index0}}" class="form-control" type="text" value="{{ input }}" {{STANDARD ? 'disabled' : ''}}>
			{% endfor %}
		</div>
		<div class="row">
			<label>Outputs</label>
			{% for output in chip.outputs %}
				<input data-type="output" data-index="{{loop.index0}}" class="form-control" type="text" value="{{ output }}" {{STANDARD ? 'disabled' : ''}}>
			{% endfor %}
		</div>
		<!--pre>{{dump()}}</pre-->
	</form>
</div>
