{% set STANDARD = chip.isStandard %}
<div class="card-header chipDetailsTitle">
	<h4>{{chip.type}}
		({{chip.id}})
		<span data-toggle="details" class="badge badge-secondary"> </span>
		{% if not STANDARD and not chip.isBaseChip %}
		<span data-action="editChip" class="badge badge-secondary">Edit</span>
		{% endif %}
	</h4>
</div>
<div class="card-body chipDetailsContent">
	<form>
		<div class="row">
			<label>Name</label>
			<input data-type="name" class="form-control" type="text" value="{{ chip.name }}">
		</div>
		{% if not base %}
			<!--div class="row">
															<label>Type</label>
															<select data-type="type" class="form-control">
																<optgroup label="Standard">
																	{% for type in types.standard %}
																	<option value="{{type}}" {{ chip.type == type ? "selected" : ""}}>{{type|upper}}</option>
																	{% endfor %}
																</optgroup>
																<optgroup label="Custom">
																	{% for type in types.custom %}
																	<option value="{{type}}" {{ chip.type == type ? "selected" : ""}}>{{type}}</option>
																	{% endfor %}
																</optgroup>
															</select>
														</div-->
		{% endif %}
		<div class="row">
			<label>Constants</label>
			{% for key,value in chip.constants %}
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">{{key}}</span>
					</div>
					<input data-type="constant" data-index="{{key}}" class="form-control" type="text" 
					{% if chip.isBaseChip %} disabled {% else %} value="{{ value|json_encode()|escape }}" {% endif %}>
					{% if not STANDARD and chip.isBaseChip %}
					<div class="input-group-append">
						<button class="btn btn-danger" type="button" data-action="remove const" data-index="{{key}}">X</button>
					 </div>
					 {% endif %}
				</div>
			{% else %}
				<input class="form-control" type="text" value="N/A" disabled>
			{% endfor %}
			{% if not STANDARD and chip.isBaseChip %}<button class="btn btn-primary" data-action="new const">Add Const</button>{% endif %}
		</div>
		{% if chip.isBaseChip %}
		<hr>
		<div class="row">
			<label>Size</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">X</span>
				</div>
				<input data-type="size" data-index="x" class="form-control" type="number" value="{{ chip.size.x }}" {{STANDARD ? 'disabled' : ''}}>
			</div>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Y</span>
				</div>
				<input data-type="size" data-index="y" class="form-control" type="number" value="{{ chip.size.y }}" {{STANDARD ? 'disabled' : ''}}>
			</div>
		</div>
		<hr>
		<div class="row">
			<label>Inputs</label>
			{% for input in chip.inputs %}
				<div class="col-md-3">
					<input id="{{chip.id}}_input_{{loop.index0}}" data-type="input" data-index="{{loop.index0}}" class="form-control" type="text" value="{{ input }}" {{STANDARD ? 'disabled' : ''}}>
				</div>
			{% endfor %}
		</div>
		<hr>
		<div class="row">
			<label>Outputs</label>
			{% for output in chip.outputs %}
				<div class="col-md-3">
					<input id="{{chip.id}}_output_{{loop.index0}}" data-type="output" data-index="{{loop.index0}}" class="form-control" type="text" value="{{ output }}" {{STANDARD ? 'disabled' : ''}}>
				</div>
			{% endfor %}
		</div>
		<hr>
		<div class="row">
			<ul style="color:#F00;">
				{% for error in chip.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<!--pre>{{dump()}}</pre-->
	</form>
</div>
